<ol class="am-breadcrumb">
    <span ng-bind="words.current"></span>
    <li><a ui-sref='home.homeIndex' ng-bind="words.home" ng-click="goIndex()"></a></li>
    <li class="am-active" ng-bind="words.formalInterview.formalInterview" ng-click="reload($event)"></li>
</ol>
<div class="tpl-content-wrapper">
    <div id="addTax" class="tpl-content-page-title">
        <b ng-bind="words.formalInterview.formalInterview" class="left big-title"></b><button ng-click="addInterview()" ng-bind="words.formalInterview.addInterview" class="right am-btn am-btn-primary"></button>
    </div>
    <div class="am-u-md-12" id="formalList">
        <div>
            <span ng-bind="words.formalInterview.caseName"></span><span class="pr-1">:</span><input type="text" ng-model="filter.caseName" placeholder="请输入约谈名称" class="pl-50">
            <span class="pl-2" ng-bind="words.formalInterview.payerCode"></span><span class="pr-1">:</span><input type="text" ng-model="filter.payerCode" placeholder="请输入纳税人识别号" class="pl-50">
            <span class="pl-2" ng-bind="words.formalInterview.permis"></span><span class="pr-1">:</span>
            <select name="" id="orgCode" ng-model="filter.orgCode" style="color:#999;padding-right:2rem" onchange="angular.element(this).scope().color()" class="select">
                <option value="" style="color:#000">请选择应对机构</option>
                <option value="{{v.orgCode}}" ng-repeat="(k,v) in permisList" style="color:#000">{{v.orgRemark}}</option>
            </select>
        </div>
        <div>
            <span ng-bind="words.formalInterview.dateTime"></span><span class="pr-px-7">:</span>
            <input class="time select" id="startTime" ng-focus="" type="text" onClick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd',isShowClear:true,readonly:true})" placeholder="请选择所属期">
            &nbsp;-&nbsp;
            <input class="time select" id="endTime" ng-focus="" type="text" onClick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd',isShowClear:true,readonly:true})" placeholder="请选择所属期">
            <button ng-click="filter.search()" class="right am-btn am-btn-primary searchBtn">查&nbsp;&nbsp;&nbsp;&nbsp;询</button>
        </div>
        <table class="am-table am-table-bd am-table-striped admin-content-table tac">
            <thead>
                <tr>
                    <th class="w-20"><span ng-bind="words.formalInterview.permis" class="org_1 inline-block"></span></th>
                    <th ng-bind="words.formalInterview.caseTime" class="w-20"></th>
                    <th ng-bind="words.formalInterview.beginDate" class="w-15"></th>
                    <th ng-bind="words.formalInterview.taxpayer" class="w-15"></th>
                    <th ng-bind="words.formalInterview.meetingStatus" class="w-10"></th>
                    <th ng-bind="words.formalInterview.payer" class="w-10"></th>
                    <th ng-bind="words.formalInterview.operation" class="w-10"></th>
                </tr>
            </thead>
        </table>
        <div class="w-100 load" id="load" ng-if="paginationConf.show"></div>
        <div ng-repeat="(k,v) in interviewList" class="caseNameContainer" ng-if="interviewList.length>0">
            <div class="w-100 caseName">
                <span ng-bind="words.formalInterview.caseName"></span><span>:</span><span ng-bind="v.caseName"></span>
            </div>
            <div class="w-100 caseName">
                <div class="left">
                    <span ng-bind="words.formalInterview.payerCode"></span><span>:</span><span ng-bind="v.payerCode"></span>
                </div>
                <div class="left">
                    <span ng-bind="words.formalInterview.dateTime"></span><span>:</span>
                    <span ng-bind="v.beginDate"></span><span>--</span>
                    <span ng-bind="v.endDate"></span>
                </div>
                <div class="right">
                    <a ng-bind="words.formalInterview.interviewContinue" ng-click="continueInterview($event,v.caseId,v)" class="right" style="font-weight:500"></a>
                </div>
            </div>
        <table class="table am-table am-table-bd am-table-striped admin-content-table tac">
            <tbody>
                <tr ng-repeat="(k1,v1) in v.modelList">
                    <td class="w-20">
                        <span ng-bind="v1.orgStr" class="ellipsis org_1 m-0-5" ng-mouseenter="siblingsShow($event,v1.orgStr)" ng-mouseleave="siblingsHide($event)"></span>
                    </td>
                    <td ng-bind="v1.interviewDate" class="w-20"></td>
                    <td ng-bind="v1.beginDate" class="w-15"></td>
                    <td class="w-15 mh-91 over-hidden">
                        <div class="mh-75 over-hidden m-0-5" ng-mouseenter="siblingsShow_1($event,v1.taxpayer)" ng-mouseleave="siblingsHide($event)">
                            <span ng-repeat="(k2,v2) in v1.taxpayer" ng-bind="v2.executorType_cn" class="show comp"></span>
                        </div>
                    </td>
                    <td ng-bind="v1.status" class="w-10"></td>
                    <td class="w-10 mh-91 over-hidden">
                        <div class="mh-75 over-hidden m-0-5" ng-mouseenter="siblingsShow_1($event,v1.payer)" ng-mouseleave="siblingsHide($event)">
                            <span ng-repeat="(k3,v3) in v1.payer" ng-bind="v3.arrangeName" class="show comp"></span>
                        </div>
                    </td>
                    <td class="w-10">
                        <a href="" ng-repeat="(k4,v4) in v1.operation" ng-bind="v4" ng-click="operate($event,v.caseId,v1.meetingId)"></a>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
        <tm-pagination conf="paginationConf" class="right"></tm-pagination>
    </div>
    <div class="pop_box_max" ng-if="operation.delete">
        <div class="pop_box" id="organizationTip">
            <h3></h3>
            <i class="am-icon-close" ng-click="init
            ()" style="z-index:1000;"></i>
            <div>
                <div class="margin_tb12 tac">
                    <span ng-bind="words.formalInterview.deleteConfirm"></span>
                </div>
                <div class="margin_tb12 tac" id="button_container">
                    <button class="am-btn am-btn-primary mr-rem-2" ng-bind="words.common.confirm" ng-click="confirmBtn()" ng-disabled="errTip.disabled"></button>
                    <button class="am-btn am-btn-primary" ng-bind="words.common.cancel" ng-click="init()"></button>
                </div>
            </div>
        </div>
    </div>
    <div class="pop_box_max" ng-if="operation.again">
        <div class="pop_box" id="organizationTip">
            <i class="am-icon-close i-close" ng-click="init
            ()" style="z-index:1000;"></i>
            <h3 ng-bind="words.formalInterview.interviewAgain"></h3>
            <div>
                <div class="t-ali-l pl-1 pr-1">
                    <span ng-bind="words.formalInterview.interviewAgainTip"></span>
                </div>
                <div class="margin_tb12 tac" id="button_container">
                    <button class="am-btn am-btn-primary btn_full" ng-bind="words.common.confirm" ng-click="confirmBtn()" ng-disabled="errTip.disabled"></button>
                </div>
            </div>
        </div>
    </div>
    <div class="pop_box_max" ng-if="operation.add" id="test" ng-scroll="scroll($event)">
        <div class="pop_box hide" id="taxpayerList">
            <h3 ng-bind="words.formalInterview.createMeeting" class="tac"></h3>
            <i class="am-icon-close i-close" ng-click="init
            ()" style="z-index:1000;"></i>
            <div class="mb-0 tac left p-1 pb-0 relative" id="step1">
                <input type="text" id="taxSearch" ng-change="search.getNameList()" ng-model="search.txt" class="w-100 search">
                <ul ng-if="search.nameList.length>0" class="t-ali-l b-ddd-t absolute searchUl" style="top:41px">
                    <li ng-click="taxpayerCheck(val1,val1.executorCode)" ng-repeat="(i1,val1) in search.nameList">
                        <a href="">{{val1.name}}</a>
                    </li>
                </ul>
                <div class="left w-220 mt-rem-1 relative">
                    <h2 ng-bind="words.formalInterview.organization"></h2>
                    <div style="position:absolute;height:231px;right:1px;bottom:1px;width:17px;background: #fff;"></div>
                    <div class="h-234 b-ddd scroll-y">
                        <ul ng-if="permisList.length>0" class="t-ali-l" id="joinList">
                            <li ng-repeat="(k,v) in permisList">
                                <div ng-click="toggle($event,v)" class="left joinClose"></div>
                                <span ng-bind="v.orgRemark"></span>
                                <ul ng-if="v.userList.length>0" class="hide">
                                    <li ng-repeat="(k1,v1) in v.userList">
                                        <input type="checkbox" value="{{v1.executorCode}}" ng-click="modifyTax($event,v1)"><span ng-bind="v1.name" style="margin-left:.5rem"></span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="right w-220 mt-rem-1 relative">
                    <h2 ng-bind="words.formalInterview.person"></h2>
                    <div style="position:absolute;height:231px;right:1px;bottom:1px;width:17px;background: #fff;"></div>
                    <div class="h-234 b-ddd scroll-y">
                        <ul class="t-ali-l" id="join">
                            <li ng-repeat="(k,v) in taxpayer" class="relative">
                                <span>{{v.name}}</span>
                                <img ng-click="deleteTaxpayer(v)" src="./lib/img/delete-1.png" class="right deleteImg absolute" style="right:0;padding-right:0">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tac pt-1 pb-1" id="step2">
                <button ng-bind="words.formalInterview.nextStep" ng-click="nextStep()" class="am-btn am-btn-primary"></button>
            </div>
        </div>
        <div class="pop_box hide" id="payerList">
            <h3 ng-bind="words.formalInterview.createMeeting" class="tac"></h3>
            <i class="am-icon-close i-close" ng-click="init
            ()" style="z-index:1000;"></i>
            <div class="margin_tb12 tac left" id="payerContainer">
                <div class="w-100 mt-rem-1-5">
                    <div class="w-30 left tac">
                        <span class="red">*</span>
                        <span ng-bind="words.formalInterview.taxPerson"></span>
                        <span>:</span>
                    </div>
                    <div class="w-70 ml-1 left t-ali-l">
                        <span ng-repeat="(k,v) in taxpayer" ng-bind="v.name" class="pr-1"></span>
                    </div>
                </div>
                <div class="w-100 mt-rem-1-5">
                    <div class="w-30 left tac">
                        <span class="red">*</span>
                        <span ng-bind="words.formalInterview.payerPerson"></span>
                        <span>:</span>
                    </div>
                    <div class="w-70 ml-1 left t-ali-l relative">
                        <span ng-bind="meetingInfo.payerName" ng-click="payerSearchShowOrHide()" style="vertical-align:middle;display:inline-block;min-width:80px;line-height:27px;padding:0 5px;border:1px solid #ddd" class="cursor-pointer p-1 w-100 border-ddd"></span>
                        <div id="payerSearch" ng-if="payerSearch.show" class="relative t-ali-l w-100">
                            <input type="text" ng-model="payerSearch.txt" ng-change="payerSearch.getNameList()" class="search w-100">
                            <ul nf-if="payerSearch.nameList.length>0" class="t-ali-l payerSearchUl" style="top:41px">
                                <li ng-repeat="(i2,val2) in payerSearch.nameList" ng-click="changePayer(val2)">
                                    <a href="">{{val2.payerName}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="w-30 left tac" ng-if="tip.tipShow.payer">
                        <span>&nbsp;</span>
                    </div>
                    <div class="w-70 ml-1 left t-ali-l" ng-if="tip.tipShow.payer">
                        <span class="red">*</span><span class="red" ng-bind="words.formalInterview.payerErr"></span>
                    </div>
                </div>
                <div class="w-100 mt-rem-1-5">
                    <div class="w-30 left tac">
                        <span class="red">*</span>
                        <span ng-bind="words.formalInterview.nameOfCase"></span>
                        <span>:</span>
                    </div>
                    <div class="w-70 ml-1 left t-ali-l">
                        <input ng-focus="tip.case.focus()" ng-blur="tip.case.blur()" type="text" ng-model="meetingInfo.caseName" class="w-100 pl-50">
                    </div>
                    <div class="w-30 left tac" ng-if="tip.tipShow.case">
                        <span>&nbsp;</span>
                    </div>
                    <div class="w-70 ml-1 left t-ali-l" ng-if="tip.tipShow.case">
                        <span class="red">*</span><span class="red" ng-bind="words.formalInterview.caseErr"></span>
                    </div>
                </div>
                <div class="w-100 mt-rem-1-5">
                    <div class="w-30 left tac">
                        <span class="red">*</span>
                        <span ng-bind="words.formalInterview.dateTime"></span>
                        <span>:</span>
                    </div>
                    <div class="w-70 ml-1 left t-ali-l">
                        <input type="text" id="m_startDate" ng-model="meetingInfo.startDate" ng-focus="tip.dateTime.focus()" onClick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd',isShowClear:true,readonly:true})" class="w-45 select">&nbsp;—&nbsp;<input type="text" id="m_endDate" ng-model="meetingInfo.endDate" ng-focus="tip.dateTime.focus()" onClick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd',isShowClear:true,readonly:true})" class="w-45 select">
                    </div>
                    <div class="w-30 left tac" ng-if="tip.tipShow.dateTime">
                        <span>&nbsp;</span>
                    </div>
                    <div class="w-70 ml-1 left t-ali-l" ng-if="tip.tipShow.dateTime">
                        <span class="red">*</span><span class="red" ng-bind="words.formalInterview.dateTimeErr"></span>
                    </div>
                </div>
                <div class="w-100 mt-rem-1-5">
                    <div class="w-30 left tac">
                        <span class="red">*</span>
                        <span ng-bind="words.formalInterview.beginDate"></span>
                        <span>:</span>
                    </div>
                    <div class="w-70 ml-1 left t-ali-l">
                        <input type="text" id="m_beginDate" ng-focus="tip.beginDate.focus()" ng-blur="tip.beginDate.blur()" ng-model="meetingInfo.beginDate" onClick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd HH:mm',isShowClear:true,readonly:true
                        })" class="w-100 select">
                    </div>
                    <div class="w-30 left tac" ng-if="tip.tipShow.beginDate">
                        <span>&nbsp;</span>
                    </div>
                    <div class="w-70 ml-1 left t-ali-l" ng-if="tip.tipShow.beginDate">
                        <span class="red">*</span><span class="red" ng-bind="words.formalInterview.beginDateErr"></span>
                    </div>
                </div>
                <div class="w-100 mt-rem-1-5">
                    <div class="w-30 left tac">
                        <span class="red">*</span>
                        <span ng-bind="words.formalInterview.recorder"></span>
                        <span>:</span>
                    </div>
                    <div class="w-70 ml-1 left t-ali-l">
                        <select name="" id="recorderCode" ng-model="meetingInfo.recorderCode" ng-change="recorderVili()" class="w-100 border-ddd">
                            <option value="">请选择记录人</option>
                            <option value="{{v2.executorCode}}" ng-repeat="(k2,v2) in taxpayer_0  track by $index" ng-selected="v2.selected">{{v2.name}}</option>
                        </select>
                        <span ng-bind="words.formalInterview.recorderErr" ng-if="recorderShow"></span>
                    </div>
                    <div class="w-30 left tac" ng-if="tip.tipShow.recorder">
                        <span>&nbsp;</span>
                    </div>
                    <div class="w-70 ml-1 left t-ali-l" ng-if="tip.tipShow.recorder">
                        <span class="red">*</span><span class="red" ng-bind="words.formalInterview.recorderErr"></span>
                    </div>
                </div>
                <div class="w-100 mt-rem-1-5">
                    <div class="w-30 left tac">
                        <span class="red">*</span>
                        <span ng-bind="words.formalInterview.host"></span>
                        <span>:</span>
                    </div>
                    <div class="w-70 ml-1 left t-ali-l">
                        <select name="" id="hostCode" ng-model="meetingInfo.hostCode" ng-change="hostVili()" class="w-100 border-ddd">
                            <option value="">请选择主持人</option>
                            <option value="{{v2.executorCode}}" ng-repeat="(k2,v2) in taxpayer_0 track by $index" ng-selected="v2.selected_1">{{v2.name}}</option>
                        </select>
                    </div>
                    <div class="w-30 left tac" ng-if="tip.tipShow.host">
                        <span>&nbsp;</span>
                    </div>
                    <div class="w-70 ml-1 left t-ali-l" ng-if="tip.tipShow.host">
                        <span class="red">*</span><span class="red" ng-bind="words.formalInterview.hostErr"></span>
                    </div>
                </div>
                <div class="w-100 mt-rem-1-5">
                    <div class="w-30 left tac">
                        <span class="red">*</span>
                        <span ng-bind="words.formalInterview.choosePayer"></span>
                        <span>:</span>
                    </div>
                    <div class="w-70 ml-1 left t-ali-l">
                        <div  class="left border-ddd t-ali-l" style="padding-top:.2rem;padding-left:.5rem" ng-click="choosePayer($event)" id="choosePayer">
                            <span ng-bind="meetingInfo.type_cn"></span>
                        </div>
                        <button class="left am-btn am-btn-primary" ng-bind="words.formalInterview.otherPayer" ng-click="other.addOtherPayer()"></button>
                        <div class="hide w-100" id="payerTypeList">
                            <ul class="t-ali-l">
                                <li ng-repeat="(k1,v1) in payer.payerTypeList"><input type="checkbox" value="{{v1.arrangeType}}" ng-click="modifyPayer($event,v1.arrangeType)" style="vertical-align: bottom"><span ng-bind="v1.arrangeType_cn" style="vertical-align: bottom"></span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="w-30 left tac" ng-if="tip.tipShow.payerList">
                        <span>&nbsp;</span>
                    </div>
                    <div class="w-70 ml-1 left t-ali-l" ng-if="tip.tipShow.payerList">
                        <span class="red">*</span><span class="red" ng-bind="words.formalInterview.payerListErr"></span>
                    </div>
                </div>
                <div ng-repeat="(k3,v3) in meetingInfo.payer" class="w-100">
                    <div class="w-30 left tac mt-rem-1-5">
                        <span ng-bind="v3.name_cn"></span>
                        <span>:</span>
                    </div>
                    <div class="w-70 ml-1 left t-ali-l mt-rem-1-5">
                        <input class="w-80" type="text" ng-model="v3.name" ng-disabled="v3.arrangeType=='arrange'||v3.arrangeType=='artificial'||v3.arrangeType=='finance'" ng-focus="vilidate.name.focus(v3.arrangeType,v3.name)" ng-blur="vilidate.name.blur(v3.arrangeType,v3.name)">
                        <img ng-click="other.removeOtherPayer(v3.arrangeType)" ng-if="!(v3.arrangeType=='arrange'||v3.arrangeType=='artificial'||v3.arrangeType=='finance')" src="./lib/img/delete-1.png" class="right deleteImg">
                    </div>
                    <div class="w-30 left tac mt-rem-1-5">
                        <span ng-bind="v3.phone_cn"></span><span>:</span>
                    </div>
                    <div class="w-70 ml-1 left t-ali-l mt-rem-1-5">
                        <input class="w-80" type="text" ng-model="v3.phone" ng-disabled="v3.arrangeType=='arrange'||v3.arrangeType=='artificial'||v3.arrangeType=='finance'" ng-focus="vilidate.phone.focus(v3.arrangeType,v3.phone)" ng-blur="vilidate.phone.blur(v3.arrangeType,v3.phone)">
                    </div>
                </div>
                <div id="btnContainer" class="w-100 mt-rem-1-5">
                    <button ng-bind="words.formalInterview.prewStep" ng-click="prewStep()" class="am-btn am-btn-primary mr-rem-2"></button>
                    <button ng-click="createInterview()" ng-disabled="errTip.disabled" class="am-btn am-btn-primary">创&nbsp;&nbsp;&nbsp;建</button>
                </div>
            </div>
        </div>
    </div>
    <div class="pop_box_max" ng-if="operation.edit" id="test">
        <div class="pop_box hide" id="payerList">
            <h3 ng-bind="words.formalInterview.createMeeting" class="tac"></h3>
            <i class="am-icon-close i-close" ng-click="init
            ()" style="z-index:1000;"></i>
            <div class="margin_tb12 tac left" id="payerContainer">
                <div class="w-100 mt-rem-1-5">
                    <div class="w-30 left tac">
                        <span class="red">*</span>
                        <span ng-bind="words.formalInterview.taxPerson"></span>
                        <span>:</span>
                    </div>
                    <div class="w-70 ml-1 left t-ali-l">
                        <span ng-repeat="(k,v) in taxpayer" ng-bind="v.name" class="pr-1"></span>
                    </div>
                </div>
                <div class="w-100 mt-rem-1-5">
                    <div class="w-30 left tac">
                        <span class="red">*</span>
                        <span ng-bind="words.formalInterview.payerPerson"></span>
                        <span>:</span>
                    </div>
                    <div class="w-70 ml-1 left t-ali-l relative">
                        <span title="{{meetingInfo.payerName}}" ng-bind="meetingInfo.payerName" ng-click="payerSearchShowOrHide()" style="vertical-align:middle;display:inline-block;min-width:80px;line-height:27px;padding:0;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;" class="cursor-pointer p-1 w-100 border-ddd"></span><!-- border:1px solid #ddd;background: rgb(235, 235, 228)" -->
                    </div>
                    <div class="w-30 left tac" ng-if="tip.tipShow.payer">
                        <span>&nbsp;</span>
                    </div>
                    <div class="w-70 ml-1 left t-ali-l" ng-if="tip.tipShow.payer">
                        <span class="red">*</span><span class="red" ng-bind="words.formalInterview.payerErr"></span>
                    </div>
                </div>
                <div class="w-100 mt-rem-1-5">
                    <div class="w-30 left tac">
                        <span class="red">*</span>
                        <span ng-bind="words.formalInterview.nameOfCase"></span>
                        <span>:</span>
                    </div>
                    <div class="w-70 ml-1 left t-ali-l">
                        <span title="{{meetingInfo.caseName}}" ng-bind="meetingInfo.caseName" style="vertical-align:middle;display:inline-block;min-width:80px;line-height:27px;padding:0;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;" class="cursor-pointer p-1 w-100 border-ddd"></span>
                        <!-- <input ng-focus="tip.case.focus()" ng-blur="tip.case.blur()" type="text" disabled="disabled" ng-model="meetingInfo.caseName" class="w-100 pl-50"> -->
                    </div>
                    <div class="w-30 left tac" ng-if="tip.tipShow.case">
                        <span>&nbsp;</span>
                    </div>
                    <div class="w-70 ml-1 left t-ali-l" ng-if="tip.tipShow.case">
                        <span class="red">*</span><span class="red" ng-bind="words.formalInterview.caseErr"></span>
                    </div>
                </div>
                <div class="w-100 mt-rem-1-5">
                    <div class="w-30 left tac">
                        <span class="red">*</span>
                        <span ng-bind="words.formalInterview.beginDate"></span>
                        <span>:</span>
                    </div>
                    <div class="w-70 ml-1 left t-ali-l">
                        <input type="text" id="m_beginDate" ng-focus="tip.beginDate.focus()" ng-blur="tip.beginDate.blur()" ng-model="meetingInfo.beginDate" onClick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd HH:mm',isShowClear:true,readonly:true})" class="w-100 select">
                    </div>
                    <div class="w-30 left tac" ng-if="tip.tipShow.beginDate">
                        <span>&nbsp;</span>
                    </div>
                    <div class="w-70 ml-1 left t-ali-l" ng-if="tip.tipShow.beginDate">
                        <span class="red">*</span><span class="red" ng-bind="words.formalInterview.beginDateErr"></span>
                    </div>
                </div>
                <div class="w-100 mt-rem-1-5">
                    <div class="w-30 left tac">
                        <span class="red">*</span>
                        <span ng-bind="words.formalInterview.recorder"></span>
                        <span>:</span>
                    </div>
                    <div class="w-70 ml-1 left t-ali-l">
                        <select name="" id="recorderCode" ng-model="meetingInfo.recorderCode" ng-change="recorderVili()" class="w-100 border-ddd">
                            <option value="">请选择记录人</option>
                            <option value="{{v2.executorCode}}" ng-repeat="(k2,v2) in taxpayer_0 track by $index" ng-selected="v2.selected">{{v2.name}}</option>
                        </select>
                    </div>
                    <div class="w-30 left tac" ng-if="tip.tipShow.recorder">
                        <span>&nbsp;</span>
                    </div>
                    <div class="w-70 ml-1 left t-ali-l" ng-if="tip.tipShow.recorder">
                        <span class="red">*</span><span class="red" ng-bind="words.formalInterview.recorderErr"></span>
                    </div>
                </div>
                <div class="w-100 mt-rem-1-5">
                    <div class="w-30 left tac">
                        <span class="red">*</span>
                        <span ng-bind="words.formalInterview.host"></span>
                        <span>:</span>
                    </div>
                    <div class="w-70 ml-1 left t-ali-l">
                        <select name="" id="hostCode" ng-model="meetingInfo.hostCode" ng-change="hostVili()" class="w-100 border-ddd">
                            <option value="">请选择主持人</option>
                            <option value="{{v2.executorCode}}" ng-repeat="(k2,v2) in taxpayer_0 track by $index" ng-selected="v2.selected_1">{{v2.name}}</option>
                        </select>
                    </div>
                    <div class="w-30 left tac" ng-if="tip.tipShow.host">
                        <span>&nbsp;</span>
                    </div>
                    <div class="w-70 ml-1 left t-ali-l" ng-if="tip.tipShow.host">
                        <span class="red">*</span><span class="red" ng-bind="words.formalInterview.hostErr"></span>
                    </div>
                </div>
                <div class="w-100 mt-rem-1-5">
                    <div class="w-30 left tac">
                        <span class="red">*</span>
                        <span ng-bind="words.formalInterview.choosePayer"></span>
                        <span>:</span>
                    </div>
                    <div class="w-70 ml-1 left t-ali-l">
                        <div  class="left border-ddd t-ali-l" style="padding-top:.2rem;padding-left:.5rem" ng-click="choosePayer($event)" id="choosePayer">
                            <span ng-bind="meetingInfo.type_cn"></span>
                        </div>
                        <button class="left am-btn am-btn-primary" ng-bind="words.formalInterview.otherPayer" ng-click="other.addOtherPayer()"></button>
                        <div class="hide w-100" id="payerTypeList">
                            <ul class="t-ali-l">
                                <li ng-repeat="(k1,v1) in payer.payerTypeList"><input type="checkbox" value="{{v1.arrangeType}}" ng-click="modifyPayer($event,v1.arrangeType)" style="vertical-align: bottom"><span ng-bind="v1.arrangeType_cn" style="vertical-align: bottom"></span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="w-30 left tac" ng-if="tip.tipShow.payerList">
                        <span>&nbsp;</span>
                    </div>
                    <div class="w-70 ml-1 left t-ali-l" ng-if="tip.tipShow.payerList">
                        <span class="red">*</span><span class="red" ng-bind="words.formalInterview.payerListErr"></span>
                    </div>
                </div>
                <div ng-repeat="(k3,v3) in meetingInfo.payer" class="w-100">
                    <div class="w-30 left tac mt-rem-1-5">
                        <span ng-bind="v3.name_cn"></span>
                        <span>:</span>
                    </div>
                    <div class="w-70 ml-1 left t-ali-l mt-rem-1-5">
                        <input class="w-80" type="text" ng-model="v3.name" ng-disabled="v3.arrangeType=='arrange'||v3.arrangeType=='artificial'||v3.arrangeType=='finance'" ng-focus="vilidate.name.focus(v3.arrangeType,v3.name)" ng-blur="vilidate.name.blur(v3.arrangeType,v3.name)">
                        <img ng-click="other.removeOtherPayer(v3.arrangeType)" ng-if="!(v3.arrangeType=='arrange'||v3.arrangeType=='artificial'||v3.arrangeType=='finance')" src="./lib/img/delete-1.png" class="right deleteImg">
                    </div>
                    <div class="w-30 left tac mt-rem-1-5">
                        <span ng-bind="v3.phone_cn"></span><span>:</span>
                    </div>
                    <div class="w-70 ml-1 left t-ali-l mt-rem-1-5">
                        <input class="w-80" type="text" ng-model="v3.phone" ng-disabled="v3.arrangeType=='arrange'||v3.arrangeType=='artificial'||v3.arrangeType=='finance'" ng-focus="vilidate.phone.focus(v3.arrangeType,v3.phone)" ng-blur="vilidate.phone.blur(v3.arrangeType,v3.phone)">
                    </div>
                </div>
                <div id="btnContainer" class="w-100 mt-rem-1-5">
                    <button ng-bind="words.formalInterview.prewStep" ng-click="prewStep()" class="am-btn am-btn-primary mr-rem-2"></button>
                    <button ng-click="createInterview()" ng-disabled="errTip.disabled" class="am-btn am-btn-primary">创&nbsp;&nbsp;&nbsp;建</button>
                </div>
            </div>
        </div>
        <div class="pop_box hide" id="taxpayerList">
            <h3 ng-bind="words.formalInterview.createMeeting" class="tac"></h3>
            <i class="am-icon-close i-close" ng-click="init
            ()" style="z-index:1000;"></i>
            <div class="mb-0 tac left p-1 pb-0 relative" id="step1">
                <input type="text" id="taxSearch" ng-change="search.getNameList()" ng-model="search.txt" class="w-100 search">
                <ul ng-if="search.nameList.length>0" class="t-ali-l b-ddd-t absolute searchUl">
                    <li ng-click="taxpayerCheck(val1,val1.executorCode)" ng-repeat="(i1,val1) in search.nameList">
                        <a href="">{{val1.name}}</a>
                    </li>
                </ul>
                <div class="left w-220 mt-rem-1 relative">
                    <h2 ng-bind="words.formalInterview.organization"></h2>
                    <div style="position:absolute;height:231px;right:1px;bottom:1px;width:17px;background: #fff;"></div>
                    <div class="h-234 b-ddd scroll-y">
                        <ul ng-if="permisList.length>0" class="t-ali-l" id="joinList">
                            <li ng-repeat="(k,v) in permisList">
                                <div ng-click="toggle($event,v)" class="left joinClose"></div>
                                <span ng-bind="v.orgRemark"></span>
                                <ul ng-if="v.userList.length>0" class="hide">
                                    <li ng-repeat="(k1,v1) in v.userList">
                                        <input type="checkbox" value="{{v1.executorCode}}" ng-click="modifyTax($event,v1)"><span ng-bind="v1.name" style="margin-left:.5rem"></span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="right w-220 mt-rem-1 relative">
                    <h2 ng-bind="words.formalInterview.person"></h2>
                    <div style="position:absolute;height:231px;right:1px;bottom:1px;width:17px;background: #fff;"></div>
                    <div class="h-234 b-ddd scroll-y">
                        <ul class="t-ali-l" id="join">
                            <li ng-repeat="(k,v) in taxpayer" class="relative">
                                <span>{{v.name}}</span>
                                <img ng-click="deleteTaxpayer(v)" src="./lib/img/delete-1.png" class="right deleteImg absolute" style="right:0;padding-right:0">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tac pt-1 pb-1" id="step2">
                <button ng-bind="words.formalInterview.nextStep" ng-click="nextStep()" class="am-btn am-btn-primary"></button>
            </div>
        </div>
    </div>
</div>