<header class="am-topbar am-topbar-inverse admin-header">
    <div class="am-topbar-brand header cursor-pointer" ui-sref="home.homeIndex" ng-click="goIndex()">
        {{words.inter}}
    </div>
    <div class="am-collapse am-topbar-collapse" id="topbar-collapse">
        <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list tpl-header-list">
            <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                <a class="am-dropdown-toggle tpl-header-list-link" ui-sref="home.account">
                    <span class="pr-1">欢迎您</span>
                    <span class="tpl-header-list-user-nick" ng-bind="userName" ng-click="goAccount()"></span>
                </a>
                <ul class="am-dropdown-content">
                    <li><a href="#"><span class="am-icon-cog"></span> 设置</a></li>
                    <li ng-click="goLogin()"><a href="#"><span class="am-icon-power-off"></span> 退出</a></li>
                </ul>
            </li>
            <li ng-click="goLogin()" style="cursor: pointer">
                <a href="###" class="tpl-header-list-link">
                    <span class="am-icon-sign-out tpl-header-list-ico-out-size"></span>
                </a>
            </li>
        </ul>
    </div>
</header>